[buildout]
extends =
    http://svn.zope.org/repos/main/zopetoolkit/trunk/ztk.cfg?p=109981
    http://svn.zope.org/repos/main/zopetoolkit/trunk/zopeapp.cfg?p=109918
develop = .
parts = test pydev

[versions]
zc.resourcelibrary =

[test]
recipe = zc.recipe.testrunner
eggs = zc.resourcelibrary [test]

[pydev]
recipe = pb.recipes.pydev
eggs = zc.resourcelibrary
