include *.py
include *.txt
include *.rst
include .travis.yml
include tox.ini
include .coveragerc
include buildout.cfg
recursive-include src *.css
recursive-include src *.js
recursive-include src *.kss
recursive-include src *.pt
recursive-include src *.txt
recursive-include src *.rst
recursive-include src *.zcml
